
<section>
<div class="container">
    <div class=" row start-exam" *ngIf="!start_exam; else exam">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8" style="margin-top: 100px;" >
            <div class="card">
                <div class="card-header" style="background-color: greenyellow;padding:25px">
                  {{nameSubject}}
                </div>
                <div class="card-body" style="padding-top: 100px;">
                    <span style="margin-top:50px">Bạn sẽ không lưu được kết quả làm bài nếu chưa đăng nhập.<span [routerLink]="['/signup']"style="cursor: pointer;color: orange">Đăng nhập ngay! </span></span>
                    <br>
                    <button class="btn btn-outline-success" (click)="btn_start()" style="    margin-left: 41%;margin-top: 25px;"> Bắt đầu <i class="fa fa-angle-double-right"></i></button>
                  </div>
              </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <ng-template #exam>
    <div class="row" *ngIf="exam">
        <div class="col-lg-10 col-11 body-exam">
            <div class="content">
                <h6 class="name-danhmuc"> Môn thi : {{nameSubject}}</h6>
               <div class="content-exam">
                
                    <div *ngFor="let m of subjectService.quizs| paginate: { itemsPerPage: 1, currentPage: p }">
                        <h6 ><b>Câu hỏi:</b> {{m.Text}}</h6>
                        <input type="hidden"  id="AnsId" value="{{m.AnswerId}}"  >
                        <input type="hidden"  id="MarksAns" value="{{m.Marks}}"  >
                          <ul>
                          <li *ngFor="let ans of m.Answers">
                            <input type="radio" id="{{ans.Id}}" value="{{ans.Id}}" [(ngModel)]="checked" name="{{m.Id}}">
                            <label for="{{ans.Id}}">{{ans.Text}}</label>
                            
                            <div class="check"></div>
                          </li>
                          </ul>
                    </div>
                    <!--<pagination-controls (pageChange)="p = $event"></pagination-controls>-->
      
                      
               </div>
               <hr>
               <div class="next-exam">
                 <div class="row">
                   <div class="col-lg-4 col-2"></div>
                   <div class="col-lg-4 col-8 btn-exam">
                      <button type="button" class="btn btn-outline-warning"(click)="goiy()" style="margin-left: 25%;margin-right:5%">Gợi ý </button>
                      <button type="button" id="btn_check" class="btn btn-success" (click)="AnsNext()">next <i class="fa fa-angle-double-right"></i></button>
    
                   </div>
                   <div class="col-lg-4 col-2" >
                     <div *ngIf="loggedIn">
                      <button class="btn btn-outline-success"style="float: right" id="btn_nopbai" (click)="nopBai()">
                          <div class="spinner-border text-success" role="status" *ngIf="loadingNopBai; else btnnopbai">
                              <span class="sr-only">Loading...</span>
                            </div>
                            <ng-template #btnnopbai >
                                Nộp Bài
                            </ng-template>
                        
                      </button>
                      </div>
                   </div>
                 </div>
                 <hr>
                 <div class="row" style="min-height: 80px">
                   
                    <div class="col-lg-3 "></div>
                    <div class="col-lg-3 "></div> 
                    <div class="col-lg-6 col-12">
                      <div class="list-icon">
                         <span > <i class="fa fa-check-square-o" style="color: orange"></i> Download</span>
                         <span > <i class="fa fa-edit" style="color: green"></i> Note</span>
                        <span [routerLink]="['/feedback']"> <i class="fa fa-exclamation-circle" style="color: gray"></i> Feedback</span>
                      </div>
                    </div>
                 </div>
               </div>
        </div>
           <!--hien thi hinh mat cuoi dung hoac sai-->
        <div class="hinh_da_an" *ngIf="TraLoiDung">
          <img src="https://znews-photo.zadn.vn/w480/Uploaded/neg_rtlzofn/2015_08_17/zing_dapan.jpg">
          <span style="color: green" class="correct"><b>CORRECT</b></span>
        </div>
        <div class="hinh_da_an_sai" *ngIf="TraLoiSai">
          <img src="https://image.shutterstock.com/image-vector/disappointed-emoticon-showing-paper-f-260nw-352272452.jpg">
          <span style="color: red" class="faild"><b>INCORRECT</b></span>
        </div>
        </div>
        <!--show so cau da lam va ghi nhan thoi gian lam bai-->

        <div class="show-time" >
            <div class="row" style="position: sticky;top: 20%;">            
                <div class="col-lg-12">
                    <div class="col-lg-12" style="margin-bottom: 10px;">
                        <div class="card  ">
                            <div class="card-header" style="background-color: orange">
                              Time
                            </div>
                            <div class="card-body" >
                                <span style="color: orange" id="box_time"> </span>
                            </div>
                          </div>
                    </div>
                    <div class="col-lg-12" style="margin-bottom: 10px;">
                        <div class="card">
                            <div class="card-header" style="background-color: greenyellow">
                              Số câu đã làm
                            </div>
                            <div class="card-body">
                                <span style="color: greenyellow"> {{socaudalam}}/{{subjectService.quizs.length}}</span>
                            </div>
                          </div>
                    </div>
                    <div class="col-lg-12" >
                        <div class="card">
                            <div class="card-header" style="background-color: khaki">
                             Trả lời đúng
                            </div>
                            <div class="card-body">
                                <span style="color: khaki;" class="socaudung">{{socaudung}}</span>
                            </div>
                          </div>
                    </div>
                </div>
                
            </div>
             
  
          </div>
    </div>
  </ng-template>
</div>

</section>