<div class="container" style="margin-top: 50px" *ngIf="loading && User; else NotUser">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Account</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{User.FullName}}</h6>
      <p class="card-text">Email :{{User.Email}} </p>
      <p class="card-text">Mark : {{User.Mark}}</p>
      <a [routerLink]="['/editUser']" style="cursor:pointer" class="card-link">Edit Account</a> 
    </div>
  </div>
</div>
<ng-template #NotUser>
    <div class="container">

        <h3 style="margin: 0 auto;">Bạn chưa đăng nhập !</h3>
      </div>
</ng-template>
